@tailwind base;
@tailwind components;
@tailwind utilities;

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(112, 112, 112, 0.06);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.spinner {
    animation: logo-spin infinite 1s linear;
}

.tyn-media-multiple > *:not(:first-child) {
    margin-left: -14px;
}

/* Modal Css */
.modal-wrapper {
}

.modal-overlay {
    position: fixed;
    inset: 0;
    z-index: 99;
    cursor: pointer;
}

.modal-show {
    animation: modalShow 0.2s ease-in;
}

.modal-hide {
    animation: modalHide 0.2s ease-out;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
